@model IEnumerable<ZhiJun.Models.University>
    @{
        ViewBag.Title = "成考";
    }
    <div class="content_top clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-lg-10">

                    <div class="alert alert-success alert-dismissible ed-alert" role="alert">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        恭喜您! 您已经成功通过网络申请。我们会尽快联系您
                    </div>

                    <div class="ed-cinfirm">
                        @*<h2 class="top-headline">谢谢您的申请</h2>*@
                        <p>
                          
                        </p>
                     
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-2 courses_left hidden-xs">

                    <div class="courses_left_inner">
                        <div class="sidebar_item">
                            <div class="item_inner question">
                                <h4>有问题?</h4>
                                <h5>请联系:</h5>
                                <h6>宋老师</h6>
                                <p>电话： 022-60920139</p>
                            </div>
                        </div><!--end sidebar item-->
                    </div><!--end courses_left_inner-->
                </div><!--end courses_left-->
            </div>
        </div><!--end container-->
    </div><!--end content top-->


