@{
    ViewBag.Title = "首页";
}
<div class="single_content">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-8 col-md-8 custom_right">
                <div class="single_content_left padding-border-right-twenty">
                    <div class="tab_menu">
                        <ul>
                            <li class="active"><a href="#explore_program" data-toggle="tab">全国统一考试</a></li>
                            <li><a href="#what_learn" data-toggle="tab">报考条件</a></li>
                            <li><a href="#cost" data-toggle="tab">毕业待遇</a></li>
                            <li><a href="#admission_requirements" data-toggle="tab">学历认证</a></li>
                        </ul>
                    </div><!--end tab_menu-->
                    <div class="tab-content single_tab_content">
                        <div role="tabpanel" class="tab-pane active" id="explore_program">
                            <h1>介绍</h1>
                            <p>
                                成人高考即成人高等学校招生全国统一考试。
                                成人高考是成人教育学历中的一种，全称成人高等学校招生统一考试，是为我国各类成人高等学校选拔合格的毕业生以进入更高层次学历教育的入学考试，成人高考属国民五大教育系列之一，列入全国成人高校招生计划，国家承认学历，参加全国招生统一考试，各省、自治区、直辖市统一组织录取。学习形式有脱产、函授、业余三种形式。

                            </p>

                            <h1>热门专业</h1>
                            <p>
                                专升本热门专业：机械设计制造及其自动化、计算机科学与技术、工商管理、市场营销、会计学、经济学、金融学、法学、人力资源管理、采矿工程、测控技术与仪器、电子信息工程、通信工程、土木工程、化学工程与工艺、动画、艺术设计、医学类专业和护理专业等。
                                高升专热门专业：工商企业管理、会计电算化、机电一体化技术、物流管理、人力资源管理、动画、计算机网络技术、市场营销、电子商务、国际经济与贸易、行政管理、经济管理、商务英语、应用化工、建筑工程管理、模具设计与制造、电子信息工程技术、计算机信息管理、艺术设计、护理等等
                            </p>
                            <h1>区别</h1>
                            <p>
                                成人高考与网络教育二者的区别有一下几点：
                            <p>
                                1、考试时间、难度不同
                                成人高考每年一考，考试时间为每年10月的第三周的周六和周日，考试难度低于高考，成人高考被称为严进宽出；而网络教育一年两考，分为春秋两季，一般每年3月份为春季入学，报名截止至2月底，10月为秋季入学，报名截止至8月底，报名成功后在规定的时间内参加院校自主命题的入学考试，考试难度不是很大。
                            </p>
                            <p>
                                2、学习方式不同
                                成人高考主要有脱产、业余和函授学习方式，根据业余时间由高校老师安排学习时间；而网络教育是通过网络在线授课，学员也可以在线完成作业，线下浏览课程，通过BBS进行提问、沟通，可参加学习中心集中组织定时收看，自方点播课程学习，或采用课程光盘在家自主学习。对一些工作时间与工作地点不稳定的学员有极大好处。不少希望进入自己心仪的名校进行学习的外地学生，可以通过报考网络学院，接受远程授课以完成学业。
                                两种途径都可以利用业余时间进行学习，但是对于那些工作忙的人来说，本来在星期六、星期天、想好好休息还要上课！烦啊！那么函授就不适合你了。网络教育就是什么时间上课都行的教育方式，不用出门在家就能上课。
                            </p>
                            <p>
                                3、学习年限不同
                                成人高考利用业余学习3年，完成规定的学习计划任务，达到毕业要求即可获得国家承认的大专、本科文凭，符合国家学位授予条件的本科班学员可授予学士学位；网络教育一般实行弹性制学制，允许学生自由选择学习年限，一般在2-5年，按照常规，学生一般在2.5年就完成毕业了，同样，完成毕业者可获得相应的有效毕业证书及学士学位。
                            </p>
                            <p>
                                4、证书含金量对比
                                成人高考、网络教育都是教育部颁发的毕业证书，经电子注册后，受国家承认、社会认可，毕业证书获得者同普通高校同类毕业生具有相同待遇，都可参加硕士研究生考试、公务员考试、司法考试等，符合条件者还可申请学士学位。
                            </p>
                            </p>

                            <h1>成考常识</h1>
                            <p>
                                1、什么是成人高等学校招生全国统一考试
                                答：成人高等学校招生全国统一考试是为我国各类成人高等学校选拔合格新生以进入更高层次学历教育的入学考试。考试分专科起点升本科、高中起点升本科和高职(高专)三个层次。
                            </p>
                            <p>
                                2、对考生报考的基本条件有哪些要求
                                答：考生报考的基本条件为：(1)国家承认学历的各类高、中等学校在校生以外的在职、从业人员和社会其他人员；(2)报考高中起点升本科或高职(高专)的考生应具有高中毕业文化程度。报考专科起点升本科的考生必须是已取得经教育部审定核准的国民教育系列高等学校、高等教育自学考试机构颁发的高等专科毕业证书或以上证书的人员。
                            </p>
                            <p>
                                3、考试时间是什么
                                答：考试时间为每年10月第三周的周六和周日。
                            </p>
                            <p>
                                3、各层次考试科目是怎样设置的
                                答：高中起点升本科、高职(高专)考试按文科、理科分别设置统考科目。公共课统考科目均为语文、数学、外语三门，其中数学分文科类、理科类两种，外语分英语、日语、俄语三个语种，由考生根据报考学校对外语语种的要求选择一种。报考高中起点升本科的考生，除参加三门统考公共课的考试外，还需参加专业基础课的考试，理科类专业基础课为“物理、化学综合”，文科类专业基础课为“历史、地理综合”，上述试题由教育部统一命制。
                                专科起点升本科考试统考科目为三门。两门公共课为政治、外语，一门专业基础课根据招生专业所隶属的学科门类确定。以上统考科目试题除非英语外语语种由各省级成人高校招生办公室视本地生源情况自行确定是否开设并自行组织命题外，其余科目均由教育部统一命制。
                            </p>
                        </div><!--end tab-pane-->
                        <div role="tabpanel" class="tab-pane" id="what_learn">
 
                            <h1>报考条件</h1>
                            <p>
                            <p>高中起点升专科、本科：应届和往届高中、中专、职高毕业生及同等学历者。 </p>
                            <p>
                                专科升本科：已取得或将取得国民教育系列专科文凭者。
                            </p>
                            <p>
                                （一）拥护中国共产党的领导，拥护四项基本原则，遵纪守法，品德良好，身体健康。
                            </p>

                            <p>
                                （二）在职、从业人员，高中、中专、技校应届毕业生及社会其他人员。
                            </p>

                            <p>
                                （三）报考高中起点本、专科考生应具有高中毕业文化程度，报考专科起点本科及第二专业专科的考生必须是已取得经教育部审定核准的国民教育系列高等学校或高等教育自学考试机构颁发的大学专科毕业证书的人员。
                            </p>
                            </p>

                        </div><!--end tab-pane-->
                        <div role="tabpanel" class="tab-pane" id="cost">
                            <h1>就业：</h1>
                            <p>
                                成人高考与自考、电大属于非统招学历，社会上多数企业不认可，常常遭受歧视，许多单位（尤其是国家机关和事业单位）。另外许多单位招聘都要求本科以上学历，由于学历原因，会丧失许多理想的工作机会。
                                <h1>
                                    工资待遇
                                </h1>
                            <p>
                                我国国家机关和事业单位基本都是按照学历定工资，本科工资比专科工资高一档次，较规范的企业也是按学历定工资，而且本科以上的奖金和提升机会都比专科相对多一些。
                            </p>
                            <h1>人事改革</h1>
                            <p>
                                许多单位（尤其是国家机关和事业单位）提拔干部、竞选领导基本条件都是本科以上学历，专科生即使完全可以胜任工作，却由于学历问题没有竞选资格，普通高等教育专科以下即使找到工作，在以后的工作中可能面临下岗失业的危险。
                            </p>
                            <h1>职称评定</h1>
                            <p>
                                如今各类职称评定几乎都与学历挂钩，在评定高级职称时专科以下基本上没有机会，而在许多的单位的主管领导几乎都是由高级职称的人担任的，没有高级职称会失去许多当主管领导的机会，而没有本科，又会失去评高级职称的机会。
                            </p>
                            <h1>考研</h1>
                            <p>
                                有了本科学历，不需学位证，就可以直接报考全国统招研究生，而专科生只能在专科毕业满两年后以同等学历报考研究生。
                            </p>
                            <h1>考执业证书</h1>
                            <p>
                                许多国家职业资格证都要求大专以上学历，如在律师、兽医、药剂师和电气师等考试的报名条件要求必须是相关专业大专以上学历。
                            </p>
                            </p>
                        </div><!--end tab-pane-->
                        <div role="tabpanel" class="tab-pane" id="admission_requirements">
                            <h1>学历</h1>
                            <p>
                                2005年成人高校仍停止免试招生第二专业专科学历教育学生，考生需参加成人高校招生全国统一入学考试，录取人数纳入招生学校当年招生计划总数。
                                我国教育部与加拿大魁北克省签署的《关于互相承认学历、学位和文凭的合作协议》，已经生效，这是我国在中、北美洲国家中签署的第一份互认学历、学位的协议。协议签署后，留学生在魁北克省学习所取得的学历回国后将得到认可，学分换算将逐渐形成统一标准。而且，以前在原则上并不认可的成考学历，在通过加拿大相关机构的评估之后将逐渐得到认可。
                                成考学历有专科学历和本科学历。本科学历的，达到一定的条件也可以申请学士学位。
                            </p>
                            <h1>学位</h1>
                            <p>
                                应届本科毕业生由学生本人于当年1月、7月份提出申请，各院系（函授站、校外学习中心）填写学位申请表，交远程与继续教育学院进行资格审查，对资格审查通过者，由远程与继续教育学院提出建议授予学位的名单，分别于当年3月中旬、8月底前将审定名单提交教务处，教务处复核后报学校学位评定委员会审批。对审批通过者颁发高等教育学士学位证书
                            </p>
                        </div><!--end tab-pane-->
                    </div><!--end tab-content-->
                </div><!--end single content left-->
            </div><!--end custom_right-->

            <div class="col-xs-12 col-sm-4 col-md-4 custom_left">
                <div class="sidebar">
                    <div class="sidebar_item">
                        <div class="item_inner question">
                            <h4>有问题?</h4>
                            <h5>请联系:</h5>
                            <h6>宋老师</h6>
                            <p>电话： 022-60920139</p>
                        </div>
                    </div><!--end sidebar item-->


                </div><!--end sidebar-->
            </div>

        </div><!--end row-->
    </div><!--end container-->
</div><!--end single content-->