
@{
    ViewBag.Title = "ProfessionList";
}

<div class="courses_section">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-9 col-lg-10 courses_right">
                <div class="courses_right_inner padding-border-right">
                    <div class="courses">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>层次</th>
                                    <th>专业 </th>
                                    <th>办学形式</th>
                                    <th>科类</th>
                                    <th>学制</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="option">
                                    <td>天津商业大学</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr class="option">
                                    <td>其他大学</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                                <tr>
                                    <td>
                                        高起专
                                    </td>
                                    <td>物流专业</td>
                                    <td>业余</td>
                                    <td>理工/td>
                                    <td>2.5年</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--End courses-->

                </div><!-- end courses_right_inner -->
            </div><!-- end courses_right -->

            <div class="col-xs-12 col-sm-3 col-lg-2 courses_left hidden-xs">
              
                <div class="courses_left_inner">
                    <div class="sidebar_item">
                        <div class="item_inner question">
                            <h4>有问题?</h4>
                            <h5>请联系:</h5>
                            <h6>宋老师</h6>
                            <p>电话： 022-60920139</p>
                        </div>
                    </div><!--end sidebar item-->
                </div><!--end courses_left_inner-->
            </div><!--end courses_left-->

        </div><!-- end row -->


    </div><!-- end container -->
</div><!--end post section-->
