@{
    ViewBag.Title = "首页";
}
<div class="single_content">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-8 col-md-8 custom_right">
                <div class="single_content_left padding-border-right-twenty">
                    <div class="tab-content single_tab_content">
                        <div role="tabpanel" class="tab-pane active" id="explore_program">
                            <h1>介绍</h1>
                            <p>
                                高考结束了，很多同学却找到了另外一种实现大学梦的方式——高等教育自学考试。
                            </p>
                            <p>
                                高等教育自学考试作为一项全国性的大考，是我们接受高等教育、迈向成功的另一条路。全日制自考学习更是让很多人感受到与普通全日制大学无异的校园氛围。选择自考，我们怎样提升自己的就业竞争能力？选择自考，什么样学习方式更适合自己？
                            </p>
                            <p>
                                <strong>自考：是考试，更是一种教育</strong>
                            </p>
                            <p>
                                自考并非“高等教育自学考试”，而是“高等自学考试教育”。虽然是同样的八个字，蕴涵的理念却完全不同。前者强调考试、文凭的优先性和至上性，认为教育只是通过考试、获取文凭的手段，后者则强调教育的根本性，认为自考生享受受教育的权利、提高自身素质才是真正的目的。
                            </p>
                            <p>
                                这种观念的变化主要体现在自考全日制助学院校的办学实践上，现在我们更注重教育的过程性了。传统的高等教育自学考试只注重结果，不注重培养过程，而现在教育过程被摆上了最突出的位置。自考全日制助学院校创设良好的学校环境、选配合格的专业教师、建立先进的管理和教学制度，这一切都是为了实现全面育人，全面提高学生的专业水平和综合素质。我们的办学方向很清楚，那就是以就业为导向，以提高学生素质为目标，推动高等教育大众化的发展。
                            </p>
                            <p>
                                <strong>自考三大新亮点：中欧电子学习模式、与普通高校学分互认、实行区间学分制</strong>
                            </p>
                            <p>
                                自考教育这种强调过程性的观念变化，充分体现在高等自学考试教育的三个新亮点上。
                            </p>
                            <p>
                                首先，实施中欧电子学习模式试点就突显了教育的过程性。中欧电子学习模式是一种多次过程性考试与统一考试相结合的自考教育新模式。它对参加全日制学习的自考生完成统一组织的网上课程学习过程性考试，按25%的比例记载   成绩
                                ，与其参加统一考试取得的成绩，加权后计算课程终结成绩。所选择的试点课程往往是机械记忆比较多的课程，有利于学生从无谓的重复记忆中解脱出来，获得更多的学习自主性，也有利于学校和教师从被动的应付式教学中解脱出来，获得更多的教学发展空间。
                            </p>
                            <p>
                                第二，实施自考全日制助学院校与普通高校学分互认试点，即实践环节要求较高的少量专业课程和实践环节课程，由普通高校对助学院校进行教学辅导、组织试点课程考试，试点课程的学分互认。这样，一方面实现了三位一体的自考教育格局，即自考委制定课程标准、普通高校实施质量把关、自考全日制助学院校组织课程教学，三方优势互补、资源共享，另一方面，弥补了仅凭传统自学考试的一份试卷难以考察学生的技术能力这样的短处。
                            </p>
                            <p>
                                第三，自考专业实行区间学分制。比如说，某门课学分区间设定为3.5—
                                5.5，意味着考50分可获得3.5学分，考60分可获得4学分，考得特别好能获得5.5学分，课程之间学分可以互相补充，这样就不会只因为考不好某门课而全盘皆输了。它充分考虑了学生学习基础的差异性、充分尊重了学生学习兴趣的多样性，是一种更灵活更合理的学分制。
                            </p>
                            <p>
                                此外，根据需要，一年安排两次自学考试。全国统一的每年四月、十月两次考试。这样助学院校可以按照普通高校的学期周期同步安排教学计划，也可以依据考试计划推行小学期制，这样更有利于激发学生的求知欲、磨练学生勤学苦练的意志力。
                            </p>
                            <p>
                                <strong>自考生一样能脱颖而出</strong>
                            </p>
                            <p>
                                在当前激烈的就业竞争中，自考生如何脱颖而出呢？这是自考生最关心的话题。当前用人单位挑选人才时，非常重视一条，就是应聘者的操作能力、实践经验。很多自考专修学院都为学生创造了实践机会。比如我们的汽车应用专业，四年时间两年上理论课，两年去一线进行技师操作培训。另外，我们还为旅游专业的学生提供了到旅行社实习的充裕机会。有统计数据表明，自考生的就业率已经达到了
                                85%，这就是我们自考全日制助学院校的严格管理和自学考试这样的规范考试能培养出质量过硬的人才的充分证明。
                            </p>
                            <p>
                                具体来说，适合全日制自考的人包括：1、参加普通高校招生统考、高职招生统考及成人高考的落榜考生中，有坚定成才目标和学习毅力的考生；2、职高、中专、中技、大专应届   毕业生
                                中，希望不经过全国统考而直接接受大学教育的青年学生；3、具有高中或同等学力，没有或不准备参加高考，希望直接接受高等教育的青年学生；4、无力支付三本普通高校高额学费的学生。
                            </p>
                            <p>
                                适合业余自考的人包括：1、希望不脱离工作岗位，业余读大学的在职人员；2、希望业余攻读第二学历、以求不断给自己“充电”，增强就业竞争力的在岗人员和普通高校在读学生。
                            </p>
                        </div><!--end tab-pane-->
                    </div><!--end tab-content-->
                </div><!--end single content left-->
            </div><!--end custom_right-->

            <div class="col-xs-12 col-sm-4 col-md-4 custom_left">
                <div class="sidebar">
                    <div class="sidebar_item">
                        <div class="item_inner question">
                            <h4>有问题?</h4>
                            <h5>请联系:</h5>
                            <h6>宋老师</h6>
                            <p>电话： 022-60920139</p>
                        </div>
                    </div><!--end sidebar item-->


                </div><!--end sidebar-->
            </div>

        </div><!--end row-->
    </div><!--end container-->
</div><!--end single content-->