
<div class="container">
    <div class="row clearfix">
        <div class="col-sm-6 col-xs-12 copyRight">
            <p>© 2016 Copyright 天津智骏教育咨询有限公司</p>
        </div><!-- col-sm-6 col-xs-12 -->
     
    </div><!-- row clearfix -->
</div><!-- container -->