<div class="container">
    <div class="row clearfix">

        <div class="col-sm-3 col-xs-6">
            <ul class="menuLink clearfix">
                <li><a href="about.html">联系我们</a></li>
            </ul>
        </div><!-- col-sm-3 col-xs-6 -->

        <div class="col-sm-3 col-xs-6 borderLeft clearfix">
            <ul class="menuLink clearfix">
                <li><a href="course-fullwidth.html">成人高考</a></li>
                <li><a href="buying-steps.html">自考学院</a></li>
                <li><a href="photo-gallery3col.html">电大学院</a></li>
                <li><a href="international_students.html">成考专业</a></li>
            </ul>
        </div><!-- col-sm-3 col-xs-6 -->

        <div class="col-sm-3 col-xs-6 borderLeft clearfix">
            <div class="footer-address">
                <h5>地址:</h5>
                <address>
                    天津市南开区迎水道7号科研办公楼1号楼3楼309室
                </address>
                <address>
                    电话：宋老师   QQ号917927638， 281013109
                </address>
            </div>
        </div><!-- col-sm-3 col-xs-6 -->

        <div class="col-sm-3 col-xs-6 borderLeft clearfix">
            <div class="socialArea clearfix">
                <h5><i class="fa fa-qq"></i>QQ 联系:</h5>
                <ul>
                    <li>917927638</i>
                    <li>281013109</li>
                </ul>
            </div><!-- social -->
            <div class="contactNo clearfix">
                <h5>联系我们:宋老师 </h5>
                <h3>022-60920139</h3>
            </div><!-- contactNo -->
        </div><!-- col-sm-3 col-xs-6 -->

    </div><!-- row clearfix -->
</div><!-- container -->
