<div class="container">
    <ul class="topbar-left">
        <li class="phoneNo"><i class="fa fa-phone"></i>022-60920139</li>
        <li class="phoneNo"><i class="fa fa-qq"></i>QQ: 917927638, 281013109</li>
        <li class="phoneNo"><i class="fa fa-user"></i>宋老师</li>
        <li class="email-id hidden-xs hidden-sm">
            <i class="fa fa-envelope"></i>
            <a href="mailto:zhijunedu@163.com">zhijunedu@163.com</a>
        </li>
    </ul>
    @*<ul class="topbar-right">
            <li class="hidden-xs"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="hidden-xs"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="hidden-xs"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="hidden-xs"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li class="hidden-xs"><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>*@
</div>
